* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* main body of website */
body {
    background-color:lightgreen;
    text-align: center;
}

.bigcard {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: blue;
    padding: 10px;
    color: white;
    flex: 0 0 600px;
  }

  .forecastDay {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: aqua;
    padding: 10px;
    flex: 0 0 300px;
  }

  .forecast{
    flex: 2;
    padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color:darkgrey
}

  .green{
    background-color: green;

  }
  .yellow{
    background-color: yellow;
    color: black
  }
  .orange{
    background-color: orange;
    color: black;
  }
  .red{
    background-color: red;
  }
  .violet{
    background-color: violet;
    color: black;
  }

  @media screen and (max-width: 400px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  .side{
    background-color: cornflowerblue;
    float: left;
  }
